spring:
  application:
    name: weather-data-acqusition
server:
  port: 8796
amap:
  key: 3ae033be310330b30d55d0c189340334
  cityCodeDownUrl: https://a.amap.com/lbs/static/file/AMap_adcode_citycode.xlsx.zip
httpclient:
  httpConnectTimeout: 3000
  httpSocketTimeout: 5000
  httpMaxPoolSize: 20
  httpMonitorInterval: 3000
  httpIdelTimeout: 5
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8796/eureka/
